## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
O= 5+4*9%(3+1)/6-1
print(O)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
input_num= int(input('Enter the num:'))
if input_num%2==0:
    print('Even Number')
else:
    print('Odd Number')

Enter the num:25
Odd Number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [7]:
A= int(input('Enter the Num'))
for i in range(1,11,1):
    print(A, '*', i, '=', A*i)

Enter the Num5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [15]:
print([i for i in range(2000,3201) if (i%7==0) and (i%5!=0)])

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [17]:
list1 =[2,3,'Py','10',1,'SQL',5.5,True,3,'john',None,7]
float_count=0
int_count=0
str_count=0
bool_count=0
none_count=0
for i in list1:
    if type(i)== float:
        float_count= float_count+1
    elif type(i)== int:
        int_count= int_count+1
    elif type(i)== str:
        str_count= str_count+1
    elif type(i)== bool:
        bool_count= bool_count+1
    else:
        none_count= none_count+1
print('float_count=',float_count)
print('int_count=',int_count)
print('str_count=',str_count)
print('bool_count=',bool_count)
print('none_count=',none_count)

float_count= 1
int_count= 5
str_count= 4
bool_count= 1
none_count= 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [2]:
li=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
print(li)

sum= 0

for i in li:
    if type(i)== int or type(i)== float:
        sum= sum+i
print('sum of numeric elements:', sum)

[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
sum of numeric elements: 21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [5]:
l= [2,3,'Py','10',1, 'SQL',5.5, True,3, 'John',None,7]
li=[]

for i in l:
    if type(i)== str:
        li.append(i)
print(li)
print("concatinated strings:",'-'.join(li))

['Py', '10', 'SQL', 'John']
concatinated strings: Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [15]:
l=[2,3,'Py','10',1,'SQL',5.5,True,3,'John',None,7]
def q8(l):
    sum1=0
    count=0
    d= {'sum':0, 'count_of_str': 0}
    for i in l:
        if type(i)in (int,float):
            sum1= sum1+i
            d['sum'] = sum1
        elif type(i)== str:
            count=count+1
            d['count_of_str'] = count
    print(d)

q8(l)

{'sum': 21.5, 'count_of_str': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

## using loops

In [1]:
li=[5,7,22,97,54,62,77,23,73,61]
new_li=[]

for i in li:
    if i % 2 !=0:
        new_li.append(i)
        
print(new_li)

[5, 7, 97, 77, 23, 73, 61]

## using list comprehension

In [1]:
li=[5,7,22,97,54,62,77,23,73,61]

[i for i in li if i%2 != 0]

[5, 7, 97, 77, 23, 73, 61]

##using lambda function

In [3]:
li=[5,7,22,97,54,62,77,23,73,61]

list(filter(lambda i: i%2 != 0, li))

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [4]:
l2 = [5,22,25,4,1,45]

def q10(l2):
    
    add = sum(l2)
    count= len(l2)
    minimum= min(l2)
    mean= sum(l2)/len(l2)
    maximum= max(l2)
    
    return add,count,minimum,mean,maximum
q10(l2)

(102, 6, 1, 17.0, 45)

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [13]:
l = []
d =  {}

shape = input("Enter the shape: ")
if shape=='square':
    side=int(input('Enter the side: '))
    d[shape]=side   
    
elif shape=='rectangle':
    print('Enter the sides: ')
    for i in range(0,2):
        ele=int(input())  
        l.append(ele)
    d[shape]=l   
    
elif shape=='circle':
    print('Enter radius: ')
    radius=int(input())  
    d[shape]=radius   

def area(shape, **kwargs):
    area_sq=0
    area_rect=0
    area_cir=0
    
    if (shape == 'square'):
        if shape in d.keys():
            area_sq = d[shape]*d[shape]  
            return area_sq
        else:
            print('please enter the side')
    if (shape == 'rectangle'):
        if shape in d.keys() and len(d[shape])==2:
            area_rect = d[shape][0]*d[shape][1]
            return area_rect
        else:
            print('Enter the len,breadth properly')
    if (shape == 'circle'):
        if shape in d.keys():
            area_cir = 3.14*d[shape]*d[shape]
            return area_cir
        else:
            print('Enter the radius')
        
ar = area(shape,**d)
print('Area = ',ar)

Enter the shape: rectangle
Enter the sides:
5
6
Area =  30

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [1]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

s1 = set(l1)
s2 = set(l2)

def q12(s1,s2):
    d ={}
    
    d['Matched']= list(s1.intersection(s2))
    d['Only in l1']= list(s1.difference(s2))
    d['Only in l2']= list(s2.difference(s1))
    
    return d

q12(s1,s2)

{'Matched': ['June', 'January', 'February', 'December'],
 'Only in l1': ['September', 'May', 'March'],
 'Only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [10]:
num = int(input('Enter a number:'))

def q13():
    for i in range(2, num):
        if (num%i) == 0:
            print('Not Prime')
            break
            
    else:
        print('Prime')
            
q13()

Enter a number:11
Prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [3]:
n = int(input('Enter the number'))

fact = 1

for i in range(1, n+1):
    fact = fact * i
    
print('The factorial of', n, 'is:', fact)

Enter the number8
The factorial of 8 is: 40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [5]:
integral = int(input('Enter the integral:'))

d ={}

for i in range(1, integral+1):
    d[i]= i*i
    
print(d)

Enter the integral:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [7]:
z = input("Enter comma-seperated numbers:")

li = z.split(",")

t = tuple(li)
print(li)
print(t)

Enter comma-seperated numbers:2,3,4,5,6
['2', '3', '4', '5', '6']
('2', '3', '4', '5', '6')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [9]:
words = input("Enter words:")

l= words.split(",")
l.sort()
l
print(",".join(l))

Enter words:without,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [8]:
words = input("Enter words:")

l1 = words.split(" ")
l1
s1 = set(l1)

print(' '.join(sorted(s1)))

Enter words:a s h i s h
a h i s

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [11]:
sentence= input('Enter a sentence:')
lower= 0
upper= 0

for i in sentence:
    if i.islower():
        lower= lower+1
    if i.isupper():
        upper= upper+1
print('lower case:',lower)
print('upper case:',upper)

Enter a sentence:ASHISH kumar
lower case: 5
upper case: 6

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [15]:
str_1= input('Enter the string:')

str_2= str_1[ : :-1]
print('Reversed string:',str_2)

Enter the string:abc123
Reversed string: 321cba